<header>
  <ul class="nav justify-content-end" style="background: black">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
  </ul>
</header>
<!--<li><a routerLink="/app-data-table" routerLinkActive="active">First </a></li>
<li><a routerLink="/app-details" routerLinkActive="active">second </a></li>-->
<router-outlet></router-outlet>
